In [3]:
import pandas as pd
import numpy as np

In [6]:
'''
Groupby 的用法
'''
data = pd.DataFrame(np.arange(12).reshape(4,3),columns=['data1','data2','data3'])
data['key1']=['one','two','three','one']
data['key2']=['five','four','five','five']
print data,'\n'
print data.groupby(['key1','key2'])#this is the groupby result, we can get the statistic based on this object
print 'groupby 的mean方法'
print data.groupby(['key1','key2']).mean(),'\n'
print 'groupby 的size方法'
print data.groupby(['key1','key2']).size(),'\n'

# 可以指定一些数组来groupby一些指定的列
col1 = ['a','a','b','c']
col2 = ['d','e','d','e']
print '自定义指定一些列来groupby'
print data['data1'].groupby([col1,col2]).mean(),'\n'
print 'groupby 会自动忽略掉一些非数值型的一些列,此时忽略掉key2列'
print data.groupby(['key1']).mean(),'\n'

# groupby对象的describe 方法
print 'group对象的describe 方法'
print data.groupby(['key1']).describe(),'\n'

   data1  data2  data3   key1  key2
0      0      1      2    one  five
1      3      4      5    two  four
2      6      7      8  three  five
3      9     10     11    one  five

<pandas.core.groupby.DataFrameGroupBy object at 0x11134a990>
groupby 的mean方法
            data1  data2  data3
key1  key2
one   five    4.5    5.5    6.5
three five    6.0    7.0    8.0
two   four    3.0    4.0    5.0

groupby 的size方法
key1   key2
one    five    2
three  five    1
two    four    1
dtype: int64

自定义指定一些列来groupby
a  d    0
   e    3
b  d    6
c  e    9
Name: data1, dtype: int64

groupby 会自动忽略掉一些非数值型的一些列,此时忽略掉key2列
       data1  data2  data3
key1
one      4.5    5.5    6.5
three    6.0    7.0    8.0
two      3.0    4.0    5.0

group对象的describe 方法
                data1      data2      data3
key1
one   count  2.000000   2.000000   2.000000
      mean   4.500000   5.500000   6.500000
      std    6.363961   6.363961   6.363961
      min    0.000000   1.000000   2.000000
      25%    2.250000   3.250000   4.250000
      50%    4.500000   5.500000   6.500000
      75%    6.750000   7.750000   8.750000
      max    9.000000  10.000000  11.000000
three count  1.000000   1.000000   1.000000
      mean   6.000000   7.000000   8.000000
      std         NaN        NaN        NaN
      min    6.000000   7.000000   8.000000
      25%    6.000000   7.000000   8.000000
      50%    6.000000   7.000000   8.000000
      75%    6.000000   7.000000   8.000000
      max    6.000000   7.000000   8.000000
two   count  1.000000   1.000000   1.000000
      mean   3.000000   4.000000   5.000000
      std         NaN        NaN        NaN
      min    3.000000   4.000000   5.000000
      25%    3.000000   4.000000   5.000000
      50%    3.000000   4.000000   5.000000
      75%    3.000000   4.000000   5.000000
      max    3.000000   4.000000   5.000000

In [36]:
'''Aside（忘记了）: 关于axis,axis=0,返回各列，axsi=1,返回各行'''
x = pd.DataFrame(np.arange(12).reshape(4,3),columns=[5,6,7])
print x.sum()
print x.sum(axis=1)
x

5    18
6    22
7    26
dtype: int64
0     3
1    12
2    21
3    30
dtype: int64

   5   6   7
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [43]:
'''
groupby对象的aggregate方法, 传入的数据可以是列表，元组列表或者字典
'''
#1:列表，返回列表对应的方法的列
def peak_to_peak(arr):
    return arr.max()-arr.min()
print 'groupby对象的aggregate方法，可以是自定义函数'
data.groupby(['key1']).agg(['mean','std',peak_to_peak])

groupby对象的aggregate方法，可以是自定义函数

      data1                        data2                        data3  \
       mean       std peak_to_peak  mean       std peak_to_peak  mean
key1
one     4.5  6.363961            9   5.5  6.363961            9   6.5
three   6.0       NaN            0   7.0       NaN            0   8.0
two     3.0       NaN            0   4.0       NaN            0   5.0


            std peak_to_peak
key1
one    6.363961            9
three       NaN            0
two         NaN            0

In [46]:
#2:列表中含有元组元素,将元组内的方法对应与每一列
data.groupby(['key1']).agg([('inner1','sum'),('inner2','std')])

       data1            data2            data3
      inner1    inner2 inner1    inner2 inner1    inner2
key1
one        9  6.363961     11  6.363961     13  6.363961
three      6       NaN      7       NaN      8       NaN
two        3       NaN      4       NaN      5       NaN

In [48]:
#3: 传入字典，对不同的列采取不同的方法，通过 key-value来指定每一列的方法
data.groupby(['key1']).agg({'data1':'sum','data2':'mean'})

       data1  data2
key1
one        9    5.5
three      6    7.0
two        3    4.0

In [ ]:
'''
groupby中的其他分组的运算和转换：transform, apply方法
'''

In [6]:
'''
pandas dataframe 的join()方法：
'''
data=pd.DataFrame([{"id":0,"name":'lxh',"age":20,"cp":'lm'},{"id":1,"name":'xiao',"age":40,"cp":'ly'},{"id":2,"name":'hua',"age":4,"cp":'yry'},{"id":3,"name":'be',"age":70,"cp":'old'}],index=['a','b','c','d'])
data

   age   cp  id  name
a   20   lm   0   lxh
b   40   ly   1  xiao
c    4  yry   2   hua
d   70  old   3    be

In [8]:
data1=pd.DataFrame([{"sex":0},{"sex":1},{"sex":2}],index=['a','b','e'])
data1

   sex
a    0
b    1
e    2

In [9]:
data.join(data1) #默认是做连接

   age   cp  id  name  sex
a   20   lm   0   lxh  0.0
b   40   ly   1  xiao  1.0
c    4  yry   2   hua  NaN
d   70  old   3    be  NaN

In [10]:
data.join(data1,how="right") #右连接

    age   cp   id  name  sex
a  20.0   lm  0.0   lxh    0
b  40.0   ly  1.0  xiao    1
e   NaN  NaN  NaN   NaN    2

In [11]:
data.join(data1,how='inner') #内连接

   age  cp  id  name  sex
a   20  lm   0   lxh    0
b   40  ly   1  xiao    1

In [12]:
data.join(data1,how='outer') #外连接

    age   cp   id  name  sex
a  20.0   lm  0.0   lxh  0.0
b  40.0   ly  1.0  xiao  1.0
c   4.0  yry  2.0   hua  NaN
d  70.0  old  3.0    be  NaN
e   NaN  NaN  NaN   NaN  2.0