In [1]:
import pandas as pd
import numpy as np

In [3]:
x = pd.Series(np.arange(6))
print x
mydates = pd.date_range('20160301',periods=6)
mydates

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-05', '2016-03-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
dict = {'a':[1,2,3],"b":[4,5,6],"c":[7,8,9]}
df = pd.DataFrame(dict)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
df[:1]

   a  b  c
0  1  4  7

In [6]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [7]:
# 访问某几列
df.loc[:,['b','c']]

   b  c
0  4  7
1  5  8
2  6  9

In [8]:
# 访问某个特定值
df.loc[0,'b']

4

In [9]:
# 选取某些特定的元素
df[df > 5]

    a   b  c
0 NaN NaN  7
1 NaN NaN  8
2 NaN   6  9

In [10]:
# 增加一列
df['d'] = [10,11,12]
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [11]:
df.b = 200
df

   a    b  c   d
0  1  200  7  10
1  2  200  8  11
2  3  200  9  12

In [12]:
# DataFrame的几种构造方法
# 1:自定义列
df2 = pd.DataFrame(np.random.randn(4,5),columns=range(6,11))
print df2

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964

In [13]:
# 2:根据已知字典定义，每个字典的键值堆就是一列,注意此时的value不是scalar
dict = {i:[j for j in range(6)] for i in xrange(1,4)}
print dict
df3 = pd.DataFrame(data=dict)
print df3

{1: [0, 1, 2, 3, 4, 5], 2: [0, 1, 2, 3, 4, 5], 3: [0, 1, 2, 3, 4, 5]}
   1  2  3
0  0  0  0
1  1  1  1
2  2  2  2
3  3  3  3
4  4  4  4
5  5  5  5

In [14]:
# 3: 根据字典创建，但是value 是scalar,需要加index，因为index默认是np.arange(n)的
dict2 = {i:1 for i in range(5)}
df4 = pd.DataFrame(dict2,index=range(1,4))
print df4

   0  1  2  3  4
1  1  1  1  1  1
2  1  1  1  1  1
3  1  1  1  1  1

In [15]:
# 选择DataFrame中的元素，选择df2做例子 --Select by label
print df2
# 选择一列
print df2[7]
# 选择一行,返回的是Series
print df2.loc[2]
# 选取一行的特定几列
print df2.loc[1,[6,8]]
# 选取特定的几列
print df2.loc[:,[6,8]]

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964
0    0.824502
1    0.121775
2   -0.496523
3    1.947396
Name: 7, dtype: float64
6     1.569872
7    -0.496523
8    -1.178872
9    -0.354877
10    0.284583
Name: 2, dtype: float64
6   -0.420137
8   -0.901289
Name: 1, dtype: float64
          6         8
0  0.349600  0.901101
1 -0.420137 -0.901289
2  1.569872 -1.178872
3 -0.675277 -0.174925

In [16]:
# 另外选择元素的问题，-- Select by position
print df2
# 选择某一列,注意此时的2代表的是index了，不是key了
print df2.iloc[:,2]#第三列
# 选择某一行
print df2.iloc[0,:]
# 选取特定的一段
print df2.iloc[0:2,2:5]

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964
0    0.901101
1   -0.901289
2   -1.178872
3   -0.174925
Name: 8, dtype: float64
6     0.349600
7     0.824502
8     0.901101
9    -0.264482
10    0.178343
Name: 0, dtype: float64
         8         9         10
0  0.901101 -0.264482  0.178343
1 -0.901289 -0.705275 -0.320809

In [17]:
# Boolean 索引值选取原dataframe
print df2
print df2[df2>0]#整个矩阵做比较
print df2[df2.iloc[:,0]>0]#选择第一列大于0的那几行元素输出

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964
         6         7         8   9         10
0  0.349600  0.824502  0.901101 NaN  0.178343
1       NaN  0.121775       NaN NaN       NaN
2  1.569872       NaN       NaN NaN  0.284583
3       NaN  1.947396       NaN NaN       NaN
         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583

In [32]:
'''
Series 对象的构造函数：1:字典，key-value对应索引和值， 2:列表：此时索引默认是从0开始的。3:制定特定的index 数组
'''
#1
x = pd.Series({'a':1,'b':2,'c':3})
print x,'\n'
#2
y= pd.Series(['a','b','c'])
print y,'\n'
print x.index,'\n',y.index,'\n'
print x.values,'\n',y.values,'\n'
#3
z = pd.Series(np.arange(5),index=['aa','bb','cc','dd','ee'])
#x.index[2]

'''
series 对象的 加，减操作,对缺失的值直接赋予NaN
'''
print x+y,'n'

'''直接对series对象的index进行修改'''
print z,'\n'
z.index=['1','2','3','4','5']
print z

a    1
b    2
c    3
dtype: int64

0    a
1    b
2    c
dtype: object

Index([u'a', u'b', u'c'], dtype='object')
Int64Index([0, 1, 2], dtype='int64')

[1 2 3]
['a' 'b' 'c']

0    NaN
1    NaN
2    NaN
a    NaN
b    NaN
c    NaN
dtype: object n
aa    0
bb    1
cc    2
dd    3
ee    4
dtype: int64

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [42]:
'''
DataFrame 对象，既包含行索引，又包含列索引，可以看成是series组成的字典。
'''
#1:未指定index的值，使用默认的index数组，输入是字典
x = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})
print x,'\n'
#2:输入有index 数组和字典
y= pd.DataFrame({'a':[1,2,3],'b':[4,5,6]},index=['row1','row2','row3'])
print y,'\n'
#3:输入的有index 数组，字典以及声明了列索引columns,如果数据里没有columns里指定的索引，即初始化成NaN
z = pd.DataFrame({'a':np.arange(5),'b':np.arange(5,10)},index=np.arange(5),columns=['a','c','b'])
print z,'\n'
#4:输入是嵌套的字典,同样miss的值用NaN来补全
v = pd.DataFrame({'col1':{'row1':1,'row2':2},'col2':{'row1':3,'row3':4}})
print v,'\n'

'''
DataFrame 对象包括
columns:一维数组
index:一维数组
values:二位数组
'''
print z.columns,'\n'
print z.index,'\n'
print z.values,'\n'

'''
可以用类似字典的索引方法来访问某一列，x['col']
'''
print v['col1'],'\n'
print v['col1'][1],'\n'

   a  b
0  1  4
1  2  5
2  3  6

      a  b
row1  1  4
row2  2  5
row3  3  6

   a    c  b
0  0  NaN  5
1  1  NaN  6
2  2  NaN  7
3  3  NaN  8
4  4  NaN  9

      col1  col2
row1     1     3
row2     2   NaN
row3   NaN     4

Index([u'a', u'c', u'b'], dtype='object')

Int64Index([0, 1, 2, 3, 4], dtype='int64')

[[0 nan 5]
 [1 nan 6]
 [2 nan 7]
 [3 nan 8]
 [4 nan 9]]

row1     1
row2     2
row3   NaN
Name: col1, dtype: float64

2.0

In [11]:
'''
pandas 中的index 对象，不管是Series 还是 DataFrame对象， index对象都是immutable 的， 不能修改。
index 常用的方法：append,diff,union,intersection(集合的操作)， insert, drop, is_monotonic, is_unique,
unique()：计算index中唯一的值。
'''
series = pd.Series(np.arange(5))
data = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]},index=['aa','bb','cc'])
s_index = series.index
d_index = data.index
print s_index,'\n'
print d_index,'\n'

# s_index[1]=2 #错误
print s_index.is_monotonic 
print s_index.unique

# insert, 原inset是不变的，产生一个新的index对象
print s_index.insert(1,5)
print s_index
#  drop，同上
print s_index.drop(2)
print s_index

Int64Index([0, 1, 2, 3, 4], dtype='int64')

Index([u'aa', u'bb', u'cc'], dtype='object')

True
<bound method Int64Index.unique of Int64Index([0, 1, 2, 3, 4], dtype='int64')>
Int64Index([0, 5, 1, 2, 3, 4], dtype='int64')
Int64Index([0, 1, 2, 3, 4], dtype='int64')
Int64Index([0, 1, 3, 4], dtype='int64')
Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [14]:
'''
reindex：重新分配索引，
常用的方法,method: ffill:前向填充， bfill:后向填充， fill_value: 指定缺失值的默认值
对于dataframe, 可以加columns。
'''
x = pd.Series(['a','b','c'],index=[0,2,4])
#同样reindex 产生的仍然是一个copy,同样不影响原来的对象
print x.reindex(np.arange(6),method='ffill')
print x.reindex(np.arange(6),method='bfill')
print x.reindex(np.arange(6),fill_value='default')
print x

0    a
1    a
2    b
3    b
4    c
5    c
dtype: object
0      a
1      b
2      b
3      c
4      c
5    NaN
dtype: object
0          a
1    default
2          b
3    default
4          c
5    default
dtype: object
0    a
2    b
4    c
dtype: object

In [28]:
'''
DataFrame中的常用索引方法：
data[]:选取某一列
data.ix[]:选取某一行
data.ix[:,:val]:选取特定的列
'''
'''
DataFrame 中索引的字段 - ix, 可以通过标记选取特定的行和列，适合python风格的编程
'''
data = pd.DataFrame(np.arange(16).reshape(4,4),
                    index=['Beijing','Shanghai','Hangzhou','Nanjing'],columns=['one','two','three','four'])
print data.ix[:'Shanghai','two':'four']
print data['one'] #没有ix,选取某一列
print data.ix['Beijing'] #有ix, 选取某一行

          two  three  four
Beijing     1      2     3
Shanghai    5      6     7
Beijing      0
Shanghai     4
Hangzhou     8
Nanjing     12
Name: one, dtype: int64
one      0
two      1
three    2
four     3
Name: Beijing, dtype: int64

In [37]:
'''
pandas中的缺失值的一些注意点：
一般的+,-*,/操作都自动加NaN, 可以通过add,sub,div,mul方法可以自定义fill_value属性值
'''
data1 = pd.DataFrame(np.arange(6).reshape(3,2),columns=['a','b'])
data2 = pd.DataFrame(np.arange(7,13).reshape(3,2),columns=['a','c'])
print data1+data2
print data1.add(data2,fill_value=1)

    a   b   c
0   7 NaN NaN
1  11 NaN NaN
2  15 NaN NaN
    a  b   c
0   7  2   9
1  11  4  11
2  15  6  13

In [44]:
'''
pandas中的ufunctions
常用的np的函数，以及匿名的函数等等都可以在pandas中使用
'''
print data
print np.exp(data)

#使用匿名函数，并且在dataframe中使用apply方法
print data.apply(lambda x:x.max()-x.min(),axis=0) #axis=0代表行，因此返回结果是多列的结果
print data.apply(lambda x:x.max()-x.min(),axis=1)#axis=1代表列，因此返回结果是多行的结果
'''applymap'''
# 特定的有效数字
f = lambda x:'%.2f'%x
print np.exp(data).applymap(f)

          one  two  three  four
Beijing     0    1      2     3
Shanghai    4    5      6     7
Hangzhou    8    9     10    11
Nanjing    12   13     14    15
                    one            two           three            four
Beijing        1.000000       2.718282        7.389056       20.085537
Shanghai      54.598150     148.413159      403.428793     1096.633158
Hangzhou    2980.957987    8103.083928    22026.465795    59874.141715
Nanjing   162754.791419  442413.392009  1202604.284165  3269017.372472
one      12
two      12
three    12
four     12
dtype: int64
Beijing     3
Shanghai    3
Hangzhou    3
Nanjing     3
dtype: int64
                one        two       three        four
Beijing        1.00       2.72        7.39       20.09
Shanghai      54.60     148.41      403.43     1096.63
Hangzhou    2980.96    8103.08    22026.47    59874.14
Nanjing   162754.79  442413.39  1202604.28  3269017.37

In [58]:
'''
排序和排名的几个注意事项
'''
#series: sort_values, rank
series = pd.Series([1,5,6,2])
print series.sort_values(ascending=False)
print series.rank()
#dataframe: 通过指定sort_values来指定要排列的,可以指定多列，前面声明的优先排序
print data
print data.sort_values(by='three',ascending=False)


'''
series 和 dataframe 中如果有元素rank相同的情况下，可以有多个方法来指定rank规则：
method:'average','min','max','first'
'''
s = pd.Series([1,2,3,2,1,5,6])
print s.rank('average')
print s.rank('first')
print s.rank('min')
print s.rank('max')

2    6
1    5
3    2
0    1
dtype: int64
0    1
1    3
2    4
3    2
dtype: float64
          one  two  three  four
Beijing     0    1      2     3
Shanghai    4    5      6     7
Hangzhou    8    9     10    11
Nanjing    12   13     14    15
          one  two  three  four
Nanjing    12   13     14    15
Hangzhou    8    9     10    11
Shanghai    4    5      6     7
Beijing     0    1      2     3
0    1.5
1    3.5
2    5.0
3    3.5
4    1.5
5    6.0
6    7.0
dtype: float64
0    1
1    3
2    5
3    4
4    2
5    6
6    7
dtype: float64
0    1
1    3
2    5
3    3
4    1
5    6
6    7
dtype: float64
0    2
1    4
2    5
3    4
4    2
5    6
6    7
dtype: float64

In [16]:
'''
汇总和计算的相关运算
'''
#describe，一种是数值型的，另一种是非数值型的
sery = pd.Series(['a','a','b','c']*4)
data = pd.DataFrame(np.random.randn(4,5),columns=np.arange(5))
print sery.describe()#非数值型的
print data.describe() #数值型的

'''
dataframe 数据处理的一些方法:count,min,argmin,idxmin,quantile,sum,mean,median,mad,var,std
skew:三阶矩，偏度
kurt:四阶矩，峰度
diff:计算一阶差分
pct_change:计算百分数变化
'''
print '\n',data.mean(axis=1)
print '\n',data.var() #返回一系列列向量
print '\n',data.var(axis=1)#返回行向量
print '\n',data.skew()
print '\n',data.diff()
print '\n',data.pct_change()

'''
相关系数和协方差
'''
print '=============================='
print '相关系数和协方差'
print '\n',data
print '\n',data.corr()
print '\n',data.cov()

count     16
unique     3
top        a
freq       8
dtype: object
              0         1         2         3         4
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.294564 -0.243041 -0.240538 -0.548498 -0.049458
std    1.477318  0.941146  0.363250  0.986515  0.785237
min   -1.914122 -1.413408 -0.780044 -1.628139 -1.082347
25%    0.185383 -0.634577 -0.290412 -1.263234 -0.418512
50%    0.956935 -0.213137 -0.089210 -0.446887  0.082302
75%    1.066116  0.178399 -0.039336  0.267850  0.451356
max    1.178507  0.867518 -0.003686  0.327920  0.719912

0   -0.346128
1   -0.287327
2    0.192182
3   -0.188303
dtype: float64

0    2.182468
1    0.885755
2    0.131951
3    0.973211
4    0.616598
dtype: float64

0    0.850101
1    1.350952
2    0.187005
3    1.367978
dtype: float64

0   -1.960649
1   -0.182873
2   -1.884707
3   -0.200628
4   -0.798866
dtype: float64

          0         1         2         3         4
0       NaN       NaN       NaN       NaN       NaN
1  3.092628 -1.038442 -0.728825 -1.389426  0.358074
2 -0.293289  1.362101  0.776358  1.469520 -0.917146
3  0.143435  0.918825 -0.123514 -1.956058 -0.885113

          0          1          2         3         4
0       NaN        NaN        NaN       NaN       NaN
1 -1.615691   2.769428  14.229627 -5.606449  0.989598
2 -0.248865  -0.963700  -0.995274 -1.287246 -1.273970
3  0.162033 -17.908325  33.505292 -5.965050  4.487629
==============================
相关系数和协方差

          0         1         2         3         4
0 -1.914122 -0.374966 -0.051219  0.247826  0.361838
1  1.178507 -1.413408 -0.780044 -1.141600  0.719912
2  0.885217 -0.051307 -0.003686  0.327920 -0.197234
3  1.028652  0.867518 -0.127201 -1.628139 -1.082347

          0         1         2         3         4
0  1.000000  0.044434 -0.417379 -0.585060 -0.308569
1  0.044434  1.000000  0.758301 -0.158641 -0.960784
2 -0.417379  0.758301  1.000000  0.517144 -0.571780
3 -0.585060 -0.158641  0.517144  1.000000  0.368703
4 -0.308569 -0.960784 -0.571780  0.368703  1.000000

          0         1         2         3         4
0  2.182468  0.061780 -0.223981 -0.852663 -0.357954
1  0.061780  0.885755  0.259241 -0.147291 -0.710041
2 -0.223981  0.259241  0.131951  0.185320 -0.163093
3 -0.852663 -0.147291  0.185320  0.973211  0.285615
4 -0.357954 -0.710041 -0.163093  0.285615  0.616598

In [20]:
'''
得到唯一：unique
统计元素发生的频率：value_counts
isin: 返回是否包含与的值序列的布尔型的数组
'''
sery = pd.Series(['a','a','b','c','b'])
print '\n',sery.unique()
print '\n',sery.value_counts()
print '\n',sery.isin(['a'])

['a' 'b' 'c']

b    2
a    2
c    1
dtype: int64

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [12]:
'''
pandas 处理NaN的情况
'''
sery = pd.Series([0,np.nan,10,np.nan])
data = pd.DataFrame([[1,2,np.nan],[np.nan,4,np.nan]],columns=[4,5,6])
print sery,'\n'
print data,'\n'
print '========================='
# isnull, notnull 是isnull的反面
print pd.isnull(sery),'\n'
print pd.isnull(data),'\n'
print '========================='
#dropna,默认返回一个新的对象，不影响原来的对象，但是dataframe对象默认是drop掉含有NaN的行
print sery.dropna(),'\n'
print data.dropna(),'n'
print data.dropna(axis=1),'n'
print data,'\n'
print '========================='
# fillna: 处理NaN的方法，value:填充的值或者字典， method:插值方法，默认是'ffill', inplace:是否在原对象上处理不产生新的对象，
#                      limit:填充limit的最大数量
print sery.fillna(value=111)
print sery.fillna(method='bfill')
sery.fillna(value='filling',inplace=True)
print sery

0     0
1   NaN
2    10
3   NaN
dtype: float64

    4  5   6
0   1  2 NaN
1 NaN  4 NaN

=========================
0    False
1     True
2    False
3     True
dtype: bool

       4      5     6
0  False  False  True
1   True  False  True

=========================
0     0
2    10
dtype: float64

Empty DataFrame
Columns: [4, 5, 6]
Index: [] n
   5
0  2
1  4 n
    4  5   6
0   1  2 NaN
1 NaN  4 NaN

=========================
0      0
1    111
2     10
3    111
dtype: float64
0     0
1    10
2    10
3   NaN
dtype: float64
0          0
1    filling
2         10
3    filling
dtype: object

In [24]:
'''
MultiIndex:可以更方便的view表哥，并且有多层的index
'''
#构造多层次的series
sery = pd.Series(np.random.randn(6),index=[['out1','out1','out2','out2','out2','out3'],[1,2,1,2,3,1]])
print sery,'\n'
print sery.index,'\n'
print '==================='
#unstack 将多层次的series 转换成dataframe,缺失的用NaN
print sery.unstack(),'\n'
print sery,'\n'
print '==================='
# dataframe 的columns同样是可以多层次的
data = pd.DataFrame(np.random.randn(3,4),columns=[['out1','out1','out2','out3'],[1,2,1,1]])
print data.ix[:,'out1'],'\n'#访问外层的某一column
print data
data.columns.names=['outcolumn1','outcolumn2']
data

out1  1   -1.650065
      2    1.177219
out2  1   -2.316721
      2   -1.126583
      3   -1.650878
out3  1   -1.914384
dtype: float64

MultiIndex(levels=[[u'out1', u'out2', u'out3'], [1, 2, 3]],
           labels=[[0, 0, 1, 1, 1, 2], [0, 1, 0, 1, 2, 0]])

===================
             1         2         3
out1 -1.650065  1.177219       NaN
out2 -2.316721 -1.126583 -1.650878
out3 -1.914384       NaN       NaN

out1  1   -1.650065
      2    1.177219
out2  1   -2.316721
      2   -1.126583
      3   -1.650878
out3  1   -1.914384
dtype: float64

===================
          1         2
0 -0.261788 -0.866365
1 -0.097630  1.210773
2 -0.390054 -0.183233

       out1                out2      out3
          1         2         1         1
0 -0.261788 -0.866365  0.928228  0.608043
1 -0.097630  1.210773 -1.145540  0.185983
2 -0.390054 -0.183233 -0.569747  1.491155

outcolumn1      out1                out2      out3
outcolumn2         1         2         1         1
0          -0.261788 -0.866365  0.928228  0.608043
1          -0.097630  1.210773 -1.145540  0.185983
2          -0.390054 -0.183233 -0.569747  1.491155

In [37]:
# DataFrame中将将列和index互换:set_index,reset_index(与set_index效果相反)
frame = pd.DataFrame(np.random.randn(4,4),columns=[11,22,33,44])
print frame,'\n'
print frame.ix[0,:],'\n' #选择某一行
frame[55] = pd.Series(['one','one','two','two'])#插入一列
print frame,'\n'
print frame.set_index([33,55])

         11        22        33        44
0  1.632350 -1.425300 -0.247113 -0.327473
1 -0.336152 -0.408830  1.727738  0.334244
2  2.350108 -0.741357 -1.312581  0.629975
3  0.786893  0.838154 -0.198521  0.320691

11    1.632350
22   -1.425300
33   -0.247113
44   -0.327473
Name: 0, dtype: float64

         11        22        33        44   55
0  1.632350 -1.425300 -0.247113 -0.327473  one
1 -0.336152 -0.408830  1.727738  0.334244  one
2  2.350108 -0.741357 -1.312581  0.629975  two
3  0.786893  0.838154 -0.198521  0.320691  two

                     11        22        44
33        55
-0.247113 one  1.632350 -1.425300 -0.327473
 1.727738 one -0.336152 -0.408830  0.334244
-1.312581 two  2.350108 -0.741357  0.629975
-0.198521 two  0.786893  0.838154  0.320691

In [52]:
'''
对于整数索引，有关于标签和位置索引 歧义的选择，同一这种情况是基于标签的
'''
x = pd.Series(np.arange(4),index=[3,-1,1,2])
print x,'\n'
print x[2],'\n'  #输出是3，不是2，则基于标签的
print '=================='
#如果要基于位置（0，1，2，3...）则可以使用series的iloc，在dataframe中使用irow和icol或者iloc[]来定位元素
print x.iloc[2],'\n'
data = pd.DataFrame(np.random.randn(4,4),columns=[22,1,23,4])
data.iloc[:,:2]

 3    0
-1    1
 1    2
 2    3
dtype: int64

3

==================
2

         22        1
0 -0.216302  1.224151
1  0.374550  1.186882
2  0.031964 -2.654386
3 -0.744022 -0.254662