In [1]:
import pandas as pd
import numpy as np

In [12]:
x = pd.Series(np.arange(6))
print x
mydates = pd.date_range('20160301',periods=6)
mydates

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-05', '2016-03-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
dict = {'a':[1,2,3],"b":[4,5,6],"c":[7,8,9]}
df = pd.DataFrame(dict)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [21]:
df[:1]

   a  b  c
0  1  4  7

In [25]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [26]:
# 访问某几列
df.loc[:,['b','c']]

   b  c
0  4  7
1  5  8
2  6  9

In [27]:
# 访问某个特定值
df.loc[0,'b']

4

In [28]:
# 选取某些特定的元素
df[df > 5]

    a   b  c
0 NaN NaN  7
1 NaN NaN  8
2 NaN   6  9

In [32]:
# 增加一列
df['d'] = [10,11,12]
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [40]:
df.b = 200
df

   a    b  c   d
0  1  200  7  10
1  2  200  8  11
2  3  200  9  12

In [24]:
# DataFrame的几种构造方法
# 1:自定义列
df2 = pd.DataFrame(np.random.randn(4,5),columns=range(6,11))
print df2

         6         7         8         9         10
0  0.727982  0.003564  1.263023  1.450848 -1.800936
1 -0.790920 -1.188590 -1.251455 -0.157680 -1.000837
2 -0.361275 -0.007689 -0.244521 -0.857020  0.139199
3  0.358751  0.531784 -0.140076 -0.152706  1.391226

In [23]:
# 2:根据已知字典定义，每个字典的键值堆就是一列,注意此时的value不是scalar
dict = {i:[j for j in range(6)] for i in xrange(1,4)}
print dict
df3 = pd.DataFrame(data=dict)
print df3

{1: [0, 1, 2, 3, 4, 5], 2: [0, 1, 2, 3, 4, 5], 3: [0, 1, 2, 3, 4, 5]}
   1  2  3
0  0  0  0
1  1  1  1
2  2  2  2
3  3  3  3
4  4  4  4
5  5  5  5

In [25]:
# 3: 根据字典创建，但是value 是scalar,需要加index，因为index默认是np.arange(n)的
dict2 = {i:1 for i in range(5)}
df4 = pd.DataFrame(dict2,index=range(1,4))
print df4

   0  1  2  3  4
1  1  1  1  1  1
2  1  1  1  1  1
3  1  1  1  1  1

In [35]:
# 选择DataFrame中的元素，选择df2做例子 --Select by label
print df2
# 选择一列
print df2[7]
# 选择一行,返回的是Series
print df2.loc[2]
# 选取一行的特定几列
print df2.loc[1,[6,8]]
# 选取特定的几列
print df2.loc[:,[6,8]]

         6         7         8         9         10
0  0.727982  0.003564  1.263023  1.450848 -1.800936
1 -0.790920 -1.188590 -1.251455 -0.157680 -1.000837
2 -0.361275 -0.007689 -0.244521 -0.857020  0.139199
3  0.358751  0.531784 -0.140076 -0.152706  1.391226
0    0.003564
1   -1.188590
2   -0.007689
3    0.531784
Name: 7, dtype: float64
6    -0.361275
7    -0.007689
8    -0.244521
9    -0.857020
10    0.139199
Name: 2, dtype: float64
6   -0.790920
8   -1.251455
Name: 1, dtype: float64
          6         8
0  0.727982  1.263023
1 -0.790920 -1.251455
2 -0.361275 -0.244521
3  0.358751 -0.140076

In [47]:
# 另外选择元素的问题，-- Select by position
print df2
# 选择某一列,注意此时的2代表的是index了，不是key了
print df2.iloc[:,2]#第三列
# 选择某一行
print df2.iloc[0,:]
# 选取特定的一段
print df2.iloc[0:2,2:5]

         6         7         8         9         10
0  0.727982  0.003564  1.263023  1.450848 -1.800936
1 -0.790920 -1.188590 -1.251455 -0.157680 -1.000837
2 -0.361275 -0.007689 -0.244521 -0.857020  0.139199
3  0.358751  0.531784 -0.140076 -0.152706  1.391226
0    1.263023
1   -1.251455
2   -0.244521
3   -0.140076
Name: 8, dtype: float64
6     0.727982
7     0.003564
8     1.263023
9     1.450848
10   -1.800936
Name: 0, dtype: float64
         8         9         10
0  1.263023  1.450848 -1.800936
1 -1.251455 -0.157680 -1.000837

In [55]:
# Boolean 索引值选取原dataframe
print df2
print df2[df2>0]#整个矩阵做比较
print df2[df2.iloc[:,0]>0]#选择第一列大于0的那几行元素输出

         6         7         8         9         10
0  0.727982  0.003564  1.263023  1.450848 -1.800936
1 -0.790920 -1.188590 -1.251455 -0.157680 -1.000837
2 -0.361275 -0.007689 -0.244521 -0.857020  0.139199
3  0.358751  0.531784 -0.140076 -0.152706  1.391226
         6         7         8         9         10
0  0.727982  0.003564  1.263023  1.450848       NaN
1       NaN       NaN       NaN       NaN       NaN
2       NaN       NaN       NaN       NaN  0.139199
3  0.358751  0.531784       NaN       NaN  1.391226
         6         7         8         9         10
0  0.727982  0.003564  1.263023  1.450848 -1.800936
3  0.358751  0.531784 -0.140076 -0.152706  1.391226