In [1]:
import pandas as pd
import numpy as np

In [3]:
x = pd.Series(np.arange(6))
print x
mydates = pd.date_range('20160301',periods=6)
mydates

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-05', '2016-03-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
dict = {'a':[1,2,3],"b":[4,5,6],"c":[7,8,9]}
df = pd.DataFrame(dict)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
df[:1]

   a  b  c
0  1  4  7

In [6]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [7]:
# 访问某几列
df.loc[:,['b','c']]

   b  c
0  4  7
1  5  8
2  6  9

In [8]:
# 访问某个特定值
df.loc[0,'b']

4

In [9]:
# 选取某些特定的元素
df[df > 5]

    a   b  c
0 NaN NaN  7
1 NaN NaN  8
2 NaN   6  9

In [10]:
# 增加一列
df['d'] = [10,11,12]
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [11]:
df.b = 200
df

   a    b  c   d
0  1  200  7  10
1  2  200  8  11
2  3  200  9  12

In [12]:
# DataFrame的几种构造方法
# 1:自定义列
df2 = pd.DataFrame(np.random.randn(4,5),columns=range(6,11))
print df2

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964

In [13]:
# 2:根据已知字典定义，每个字典的键值堆就是一列,注意此时的value不是scalar
dict = {i:[j for j in range(6)] for i in xrange(1,4)}
print dict
df3 = pd.DataFrame(data=dict)
print df3

{1: [0, 1, 2, 3, 4, 5], 2: [0, 1, 2, 3, 4, 5], 3: [0, 1, 2, 3, 4, 5]}
   1  2  3
0  0  0  0
1  1  1  1
2  2  2  2
3  3  3  3
4  4  4  4
5  5  5  5

In [14]:
# 3: 根据字典创建，但是value 是scalar,需要加index，因为index默认是np.arange(n)的
dict2 = {i:1 for i in range(5)}
df4 = pd.DataFrame(dict2,index=range(1,4))
print df4

   0  1  2  3  4
1  1  1  1  1  1
2  1  1  1  1  1
3  1  1  1  1  1

In [15]:
# 选择DataFrame中的元素，选择df2做例子 --Select by label
print df2
# 选择一列
print df2[7]
# 选择一行,返回的是Series
print df2.loc[2]
# 选取一行的特定几列
print df2.loc[1,[6,8]]
# 选取特定的几列
print df2.loc[:,[6,8]]

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964
0    0.824502
1    0.121775
2   -0.496523
3    1.947396
Name: 7, dtype: float64
6     1.569872
7    -0.496523
8    -1.178872
9    -0.354877
10    0.284583
Name: 2, dtype: float64
6   -0.420137
8   -0.901289
Name: 1, dtype: float64
          6         8
0  0.349600  0.901101
1 -0.420137 -0.901289
2  1.569872 -1.178872
3 -0.675277 -0.174925

In [16]:
# 另外选择元素的问题，-- Select by position
print df2
# 选择某一列,注意此时的2代表的是index了，不是key了
print df2.iloc[:,2]#第三列
# 选择某一行
print df2.iloc[0,:]
# 选取特定的一段
print df2.iloc[0:2,2:5]

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964
0    0.901101
1   -0.901289
2   -1.178872
3   -0.174925
Name: 8, dtype: float64
6     0.349600
7     0.824502
8     0.901101
9    -0.264482
10    0.178343
Name: 0, dtype: float64
         8         9         10
0  0.901101 -0.264482  0.178343
1 -0.901289 -0.705275 -0.320809

In [17]:
# Boolean 索引值选取原dataframe
print df2
print df2[df2>0]#整个矩阵做比较
print df2[df2.iloc[:,0]>0]#选择第一列大于0的那几行元素输出

         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
1 -0.420137  0.121775 -0.901289 -0.705275 -0.320809
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583
3 -0.675277  1.947396 -0.174925 -1.922158 -0.883964
         6         7         8   9         10
0  0.349600  0.824502  0.901101 NaN  0.178343
1       NaN  0.121775       NaN NaN       NaN
2  1.569872       NaN       NaN NaN  0.284583
3       NaN  1.947396       NaN NaN       NaN
         6         7         8         9         10
0  0.349600  0.824502  0.901101 -0.264482  0.178343
2  1.569872 -0.496523 -1.178872 -0.354877  0.284583

In [32]:
'''
Series 对象的构造函数：1:字典，key-value对应索引和值， 2:列表：此时索引默认是从0开始的。3:制定特定的index 数组
'''
#1
x = pd.Series({'a':1,'b':2,'c':3})
print x,'\n'
#2
y= pd.Series(['a','b','c'])
print y,'\n'
print x.index,'\n',y.index,'\n'
print x.values,'\n',y.values,'\n'
#3
z = pd.Series(np.arange(5),index=['aa','bb','cc','dd','ee'])
#x.index[2]

'''
series 对象的 加，减操作,对缺失的值直接赋予NaN
'''
print x+y,'n'

'''直接对series对象的index进行修改'''
print z,'\n'
z.index=['1','2','3','4','5']
print z

a    1
b    2
c    3
dtype: int64

0    a
1    b
2    c
dtype: object

Index([u'a', u'b', u'c'], dtype='object')
Int64Index([0, 1, 2], dtype='int64')

[1 2 3]
['a' 'b' 'c']

0    NaN
1    NaN
2    NaN
a    NaN
b    NaN
c    NaN
dtype: object n
aa    0
bb    1
cc    2
dd    3
ee    4
dtype: int64

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [42]:
'''
DataFrame 对象，既包含行索引，又包含列索引，可以看成是series组成的字典。
'''
#1:未指定index的值，使用默认的index数组，输入是字典
x = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]})
print x,'\n'
#2:输入有index 数组和字典
y= pd.DataFrame({'a':[1,2,3],'b':[4,5,6]},index=['row1','row2','row3'])
print y,'\n'
#3:输入的有index 数组，字典以及声明了列索引columns,如果数据里没有columns里指定的索引，即初始化成NaN
z = pd.DataFrame({'a':np.arange(5),'b':np.arange(5,10)},index=np.arange(5),columns=['a','c','b'])
print z,'\n'
#4:输入是嵌套的字典,同样miss的值用NaN来补全
v = pd.DataFrame({'col1':{'row1':1,'row2':2},'col2':{'row1':3,'row3':4}})
print v,'\n'

'''
DataFrame 对象包括
columns:一维数组
index:一维数组
values:二位数组
'''
print z.columns,'\n'
print z.index,'\n'
print z.values,'\n'

'''
可以用类似字典的索引方法来访问某一列，x['col']
'''
print v['col1'],'\n'
print v['col1'][1],'\n'

   a  b
0  1  4
1  2  5
2  3  6

      a  b
row1  1  4
row2  2  5
row3  3  6

   a    c  b
0  0  NaN  5
1  1  NaN  6
2  2  NaN  7
3  3  NaN  8
4  4  NaN  9

      col1  col2
row1     1     3
row2     2   NaN
row3   NaN     4

Index([u'a', u'c', u'b'], dtype='object')

Int64Index([0, 1, 2, 3, 4], dtype='int64')

[[0 nan 5]
 [1 nan 6]
 [2 nan 7]
 [3 nan 8]
 [4 nan 9]]

row1     1
row2     2
row3   NaN
Name: col1, dtype: float64

2.0