In [1]:
import pandas as pd
import numpy as np

In [12]:
x = pd.Series(np.arange(6))
print x
mydates = pd.date_range('20160301',periods=6)
mydates

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

DatetimeIndex(['2016-03-01', '2016-03-02', '2016-03-03', '2016-03-04',
               '2016-03-05', '2016-03-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
dict = {'a':[1,2,3],"b":[4,5,6],"c":[7,8,9]}
df = pd.DataFrame(dict)
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [21]:
df[:1]

   a  b  c
0  1  4  7

In [25]:
df['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [26]:
# 访问某几列
df.loc[:,['b','c']]

   b  c
0  4  7
1  5  8
2  6  9

In [27]:
# 访问某个特定值
df.loc[0,'b']

4

In [28]:
# 选取某些特定的元素
df[df > 5]

    a   b  c
0 NaN NaN  7
1 NaN NaN  8
2 NaN   6  9

In [32]:
# 增加一列
df['d'] = [10,11,12]
df

   a  b  c   d
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [40]:
df.b = 200
df

   a    b  c   d
0  1  200  7  10
1  2  200  8  11
2  3  200  9  12